*.out
LIB_NETLINK/libnl-3/lib/.*
LIB_NETLINK/libnl-3/*.pc
LIB_NETLINK/libnl-3/python/*
LIB_NETLINK/libnl-3/lib/*
LIB_NETLINK/libnl-3/Makefile
LIB_NETLINK/libnl-3/OUTPUT_NL_3_32bit/
LIB_NETLINK/libnl-3/config.log
LIB_NETLINK/libnl-3/config.status
LIB_NETLINK/libnl-3/include/Makefile
LIB_NETLINK/libnl-3/libnl.sym
LIB_NETLINK/libnl-3/libtool
LIB_NETLINK/libnl-3/man/Makefile
LIB_NETLINK/libnl-3/src/.deps/
LIB_NETLINK/libnl-3/src/Makefile
LIB_NETLINK/libnl-3/src/lib/.deps/
LIB_NETLINK/libnl-3/src/lib/Makefile
LIB_NETLINK/libnl-3/tests/.deps/
LIB_NETLINK/libnl-3/tests/Makefile
LIB_NETLINK/libnl-3/OUTPUT_NL_3_64bit/
